.HomeMainContent {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.HomeMainContent h1 {
  margin: 0;
  color: white;
}

p {
  line-height: 30px;
}

.MySocial {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 590px){
  .MySocial {
    margin-top: 20px;
  }
}

.MySocial .MuiButtonBase-root {
  border-radius: 999px;
  padding: 0;
}

.MySocial img {
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
}

.MySocial img:hover {
  transform: scale(1.4);
}
