.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.SideBarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background: var(--color-background);
  border-right: 1px solid var(--color-background-light);
  height: 100vh;
}

.SideControllerBtn {
  visibility: hidden;
  z-index: 999;
  margin-top: 10px;
}
.SideControllerBtn .MuiIconButton-edgeStart {
  margin-left: -2px;
}
.SideControllerBtn > .MuiButtonBase-root {
  padding: 10px;
  background-color: var(--color-background);
  border-radius: 0;
  border: 1px solid var(--color-background-light);
  border-left: none;
}
.SideControllerBtn > .MuiButtonBase-root:hover {
  background-color: var(--color-background);
}

@media (max-width: 1275px) {
  .SideBarContent {
    height: 100vh !important;
    width: 0;
    overflow-x: hidden;
    transition: 0.8s;
  }

  .SideControllerBtn {
    visibility: visible;
  }
  .Side-false {
    width: 0 !important;
    display: none;
  }
  .Side-true {
    width: 100% !important;
  }
}

.UserImage {
  padding: 20px;
  border-bottom: 1px solid var(--color-background-light) !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.UserImage .UserImageBtn {
  position: relative;
}

.UserImage .MuiAvatar-root {
  width: 50%;
  display: block;
  height: 190px;
  width: 190px;
  border: 7px solid var(--color-background-light);
}

.UserImageBtn .UserImageOverlay {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background-dark);
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 50%;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0, 0.4);
}

.UserImage:hover .UserImageOverlay {
  height: 100%;
}

.UserImageOverlay p {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.UserImageText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.NavItems {
  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 5px;
}
.NavItems a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
  padding: 13px 0;
  outline: none;
  font-size: 15px;
}
.NavItems a:hover {
  background-color: rgb(2, 136, 209, 0.2);
}
.active {
  background-color: var(--color-blue);
  color: white !important;
}

.RemarksSection {
  border-top: 1px solid var(--color-background-light);
  bottom: 0 !important;
}
.RemarksSection p {
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: var(--color-primary);
}
.RemarksSection p:hover {
  color: white;
  transition: 0.2s;
}
