.SideBar {
  background: var(--color-background);
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border-right: 1px solid var(--color-background-light);
}

.UserImage {
  padding: 20px;
  border-bottom: 1px solid var(--color-background-light);
  margin: 0;
  display: flex;
  justify-content: center;
}
.UserImage .MuiAvatar-root {
  height: 190px;
  width: 190px;
  border: 7px solid var(--color-background-light);
}
.NavItems {
  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 5px;
}
.NavItems a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
  padding: 13px 0;
  outline: none;
  font-size: 15px;
}
.NavItems a:hover {
  background-color: rgb(2, 136, 209, 0.2);
}
.active {
  background-color: var(--color-blue);
  color: white !important;
}

.RemarksSection {
  border-top: 1px solid var(--color-background-light);
  bottom: 0 !important;
}
.RemarksSection p {
  text-align: center;
  cursor: pointer;
}
