.PortfolioCard {
  max-width: 320px;
}
.PortfolioCard img {
  max-width: 320px;
  display: block;
}
.PortfolioCard img:hover {
  transform: scale(1.02);
  transition: 0.1s ease-in;
}
.PortfolioCard h3 {
  margin: 2px 0;
  font-size: 25px;
  display: inline;
}
.PortfolioCard h3:hover {
  color: #0288d1;
}
.PortfolioCard h3 a {
  text-decoration: none;
  color: inherit;
}
.PortfolioCard p {
  margin: 0;
}
