.About {
  min-height: 100vh;
  padding-bottom: 100px;
}

.about-me::before {
  content: "About Me";
}
.services::before {
  content: "Services";
}

.AboutSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
}
.AboutSection img {
  object-fit: fit;
  height: 450px;
  width: 100%;
}
.AboutSection h3 {
  font-size: 35px;
  margin: 0;
}

.AboutTable .AboutTableLable {
  font-weight: 600;
  padding-right: 25px;
}

.AboutTable tr {
  margin: 25px 0;
  line-height: 25px;
}

.AboutServices {
  display: flex;
  gap: 25px;
  justify-self: start;
}

.ServiceCard {
  border: 1px solid #90a4ae;
  border-top: 5px solid #90a4ae;
  padding: 15px;
  flex: 1;
}
.ServiceCard:hover {
  border-top: 5px solid #0288d1;
}

.ServiceCard h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}
.ServiceCard h4::after {
  display: block;
  content: "";
  height: 1px;
  border-radius: 10px;
  background-color: #90a4ae;
  width: 50px;
  margin-top: 10px;
}
