.About {
  min-height: 100vh;
  padding-bottom: 100px;
}

.about-me::before {
  content: "About Me";
}
.services::before {
  content: "Services";
}

.AboutSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
}
.AboutSection img {
  object-fit: fit;
  height: 450px;
  width: 100%;
}
.AboutSection h3 {
  font-size: 35px;
  margin: 0;
  color: white;
  font-weight: normal;
  cursor: pointer;
}

@media (max-width: 800px) {
  .AboutSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.AboutTable .AboutTableLable {
  font-weight: 600;
  padding-right: 25px;
}

.AboutTable tr {
  margin: 25px 0;
  line-height: 25px;
}

.AboutServices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-self: start;
}
@media (max-width: 1001px) {
  .AboutServices {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .AboutServices {
    grid-template-columns: 1fr;
  }
}

.ServiceCard {
  border: 1px solid var(--color-background-light);
  border-top: 5px solid var(--color-background-light);
  padding: 15px;
  flex: 1;
  background-color: var(--color-background);
  cursor: pointer;
}
.ServiceCard:hover {
  border-top: 5px solid var(--color-blue);
}

.ServiceCard .ServiceIcon .MuiSvgIcon-root {
  font-size: 40px;
  color: var(--color-blue);
}

.ServiceCard h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 10px;
  color: white;
}
.ServiceCard h4::after {
  display: block;
  content: "";
  height: 1px;
  border-radius: 10px;
  background-color: var(--color-background-light);
  width: 50px;
  margin-top: 10px;
}
